@{
    Layout = null;
    <!-- Remove this if you want to use _Layout.cshtml -->
}

<style>
    .big-title {
        font-size: 5rem; 
        font-weight: 600; 
        text-align: center; 
        margin-bottom:-10px;
    }

</style>

<body>
    <div class="account-pages my-5 pt-5">
        <div class="container">

            <div class="row">
                <div class="col-lg-12" style="text-align:center">
                    <div>
                        <h1 class="big-title">Error!</h1>
                        <h2>Something went wrong.</h2>
                        <h3>We couldn't start your program. Please contact the IT Team.</h3>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-xl-6 text-center">
                            <img src="~/logo/error-img.png"
                                 alt="Error"
                                 class="img-fluid mx-auto d-block"
                                 style="max-width: 600px;display: block;margin-left: auto;margin-right: auto;" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

   
</body>

